@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500&display=swap');

:root {
  --nizz-color: #ff9040;
  --bg-color: #131110;
  --text-color: #d3d3d3;
}

* {
  font-family: "Lexend", sans-serif;
}

h1,
h4,
a,
p,
li {
  color: var(--text-color);
}

li {
  line-height: 1.5em;
  padding: 0.5em;
}

code {
  color: var(--nizz-color);
}

strong {
  font-weight: 500;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  height: 100vh;
  margin: 0;
  animation: fade 2s;
}

.content {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 40em;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
  margin-right: auto;
  color: var(--nizz-color);
  background: linear-gradient(to right, #FF4621 0%, #FF9B4F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-text {
  text-align: left;
  max-width: 500px;
}

.sub-text {
  margin-top: 0;
  margin-right: auto;
  color: #f4f4f4;
  font-weight: 500;
}

.navigation {
  margin: 2em 0;
}

.navigation a {
  font-weight: 500;
  background-color: #24211F;
  padding: 0.35em 0.8em;
  border-radius: 0.3em;
  text-decoration: none;
  color: #fed7aa;
  margin-right: 0.3em;
  box-shadow: 0 2px 15px 0 rgb(0 0 0 / 2%);

  transition: background-color 0.3s ease;
}

.navigation a:hover {
  background-color: #2C2926;
  color: var(--nizz-color);
}

.discord-button {
  background-color: #6775AC !important;
  color: white !important;
}

.discord-button:hover {
  background-color: #7483BF !important;
  color: #fed7aa !important;
}

.copyright {
  color: #a3a3a3;
  text-align: center;
}

.repeating-before {
  list-style: none;
  padding: 0;
  margin: 0;
}

.repeating-before li {
  padding-left: 1rem;
  text-indent: -1.7rem;
}

.repeating-before li:nth-child(1n)::before {
  content: "🪶 ";
}

.repeating-before li:nth-child(2n)::before {
  content: "✨ ";
}

.repeating-before li:nth-child(3n)::before {
  content: "💸 ";
}

.repeating-before li:nth-child(4n)::before {
  content: "🗺️ ";
}

.repeating-before li:nth-child(5n)::before {
  content: "🔥 ";
}

#logo {
  padding-right: 10px;
  width: 32px;
  height: 32px;
}